h1{
  color:red;
}
#first{
  color:green;
  font-size:40px;
  margin-top:10px;
}
#second{
  color:red;
  font-size:40px;
  margin-bottom:10px;
}
#third{
  color:red;
}
#fourth{
  color:green;
  font-size:40px;
}
